<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Thetis.Properties.Settings.thetisDBConnectionString"
            connectionString="Data Source=192.168.1.3,1711;Initial Catalog=ThetisDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
